.main > h1 {
  font-size: 50px;
}
.main > h1:hover {
  transform: scale(1.05);
  transition: 400ms;
}
.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* border: 1px solid black; */
  width: 70%;
  overflow: hidden;
  margin: 15px;
  display: flex;
  height: fit-content;
}

.single__card {
  width: 90%;
  height: fit-content;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 40px auto;
  display: flex;
}

.single__card img {
  padding: 20px;
  margin: 20px;
  width: 500px;
  border-radius: 15px;
}
.single__card img:hover {
  transform: scale(1.07);
  transition: 500ms;
} 
.single__card h1:hover {
  text-decoration: underline;
}
.single__card h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 10%;
  padding: 2%;
}

.single__card p {
  padding: 2%;
  font-size: 16px;
}
